// импорт библиотек
@import '_general.scss';

// Подключенные файлы: 
// 1. _general.scss (общие стили);


//	Оглавление:

//	7. Главная страница
//	    7.1 Шапка
//	    7.2 Основной контент
//	    7.3 Подвал сайта	


// Переменные для общего использования:


// 7 ГЛАВНАЯ СТРАНИЦА ===================================
//  7.1 ШАПКА ===========================================

.header {
    &__top {
        position: relative;
        background-color: $base-color;
    }
    &__box {
        width: 100%;
        width: 1780px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-down(lg) {
            align-items: flex-start;
        }
    }
    &__settings {
        font-size: 13px;
        font-weight: 600;
        min-height: 45px;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &__settings-right {
        display: flex;
        justify-content: space-between;
    }
    &__middle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 50%;
        top: 85%;
        width: 95.5%;
        transform: translate(-50%, 100%);
        z-index: 5;
        @include media-breakpoint-down(lg) {
            top: 0;
        }
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &__form {
        margin-left: 115px;
        @media(max-width: 1300px) {
            margin-left: 60px;
        }
        @include media-breakpoint-down(lg) {
            margin-top: 20px;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-down(lg) {
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__logo{
        align-self: flex-start;
    }
}

body.header-mobile {
    overflow: hidden;
    .mobile__box {
        overflow: auto;
    }
    .mobile__top {
        position: fixed;
    }
    .mobile__bottom {
        height: 100vh;
        padding: 100px 15px 10px;
        transition: height .3s;
        visibility: initial;
    }
}

.mobile {
    @include media-breakpoint-up(lg) {
        display: none;
    }
    &__box {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: $base-color;
        max-height: 100vh;
        z-index: 20;
    }
    &__top {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: inherit;
        padding: 10px 15px;
    }
    &__bottom {
        height: 0;
        visibility: hidden;
        max-width: 70%;
        min-width: 500px;
        margin: auto;
        @include media-breakpoint-down(xs) {
            min-width: initial;
            max-width: initial;
        }
    }
    &__bottom-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .link {
            text-transform: uppercase;
            color: adjust-color($font-color, $lightness: 15%);
        }
    }
    &__reg {
        .link + .link {
            margin-left: 20px;
        }
    }
    &__form {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 25px;
        @include media-breakpoint-down(xxs) {
            display: inline-block;
        }
    }
}
.mobile-btn {
    position: relative;
    height: 25px;
    width: 37px;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid $light-color;
    &::before,
    &::after {
        @include absolute-pseudo(100%, 100%);
        background-color: $light-color;
        z-index: 1;
        height: 3px;
        transition: .3s;
    }
    &::before {
        top: 0;
    }
    &::after {
        top: 50%;
    }
    &_active {
        border-bottom: none;
        &::before {
            transform: rotate(45deg);
            top: 50%;
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}
.mobile-menu-tree {
    &-first {
        padding-bottom: 25px;
        &__item + &__item {
            margin-top: 30px;
        }
        &__title {
            color: $light-color;
            text-transform: uppercase;
            margin-bottom: 15px;
            font-size: 16px;
        }
    }
    &-second {
        &__item + &__item {
            margin-top: 15px;
        }
        &__title {
            font-size: 15px;
            margin-bottom: 10px;
            margin-left: 5px;
            color: adjust-color($light-color, $lightness: -20%);
        }
    }
    &-third {
        @include media-breakpoint-up(sm) {
            margin-left: 10px;
            column-count: 2;
        }
        @include media-breakpoint-down(xs) {
            display: flex;
            flex-wrap: wrap;
        }
        &__item {
            color: $font-color;
            font-size: 14px;
            .link {
                display: inline-block;
                padding: 3px 5px;
            }
            .link:hover {
                color: $light-color;
            }
            margin-right: 15px;
        }
    }
}

.dropdown {
    position: relative;
    &__list {
        position: absolute;
        width: 100%;
        height: 0;
        overflow: hidden;
        left: 0;
        top: 100%;
        z-index: 10;
        &:hover {
            transition: height .3s ease-out;
        }
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        background-color: $base-color;
        color: adjust-color($font-color, $lightness: 5%);
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        svg {
          display: none;
          margin-left: 5px;
          font-size: 16px;
        }
        &_type_btn {
            min-height: 100%;
            color: #777;
            background-color: $base-color;
            &  svg {
                display: initial;
            }
            &:hover + .dropdown__list{
                transition: height .3s ease-out;
            }
        }
    }
    &__item:hover {
        color: $font-light-color;
        background-color: $info-color;
    }
    &_type_currency {
        min-width: 145px;
        letter-spacing: -0.3px;
        margin-left: 5px;
    }
    &_type_cart {
        min-width: 147px;
        @include media-breakpoint-up(xl) {
            margin-right: 13px;
        }
        .dropdown__item_type_btn {
            padding-left: 10px;
            padding-right: 10px;
        }
        svg:first-of-type {
            font-size: 19px;
            margin-right: 15px;
        }
    }
}

.submenu {  //font-size
    font-size: 1rem;

    box-sizing: border-box;
    width: 467px;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: row;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: -20px;
    display: none;
    transform: translateY(100%);
    grid-row-gap: 55px;
    grid-column-gap: 20px;
    padding: 29px 35px;
    box-shadow: 0px 15px 25px hsla(0, 0, 0, .3);
    background-color: $light-color;
    z-index: 2;
    &::before {
        @include absolute-pseudo(100%, 20px);
        top: 0;
        left: 0;
        transform: translateY(-100%);
    }
    &__title {
        margin-bottom: 20px;
        color: $font-extra-dark-color;
        font-size: 12px;
        text-transform: uppercase;
    }
    &__list {
        font-size: 14px;
        text-transform: none;
    }
    &__advert{
        grid-column: span 2;
        text-align: center;
        background-color: $base-color;
        color: $font-light-color;
        font-weight: 100;
        line-height: 1.4;
        padding: 53px 35px;
        font-size: 2.6em;
        animation: neon-shadow .5s infinite alternate;
        font-family: $textFont;
        letter-spacing: .1em;
        &:hover {
            text-shadow: 0 0 10px;
            animation-play-state: paused;
        }
    }
}

.logo {
    margin: 0;
    text-transform: uppercase;
    color: $font-extra-dark-color;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.25;
    b {
        font-weight: 700;
    }
    &_type_mobile {
        color: adjust-color($light-color, $lightness: -10%);
        @include media-breakpoint-down(xs) {
            font-size: 20px;
        }
    }
}

.bunner { // font-size
    font-size: 1rem;
    min-width: 100%;
    max-width: 100%;
    position: relative;
    &__title {
        position: absolute;
        z-index: 10;
        max-width: 1200px;
        transform: translate(-50%, -50%);
        left: 55%;
        top: 50%;
        margin: 0;
        font-weight: 700;
        color: #575153;
        line-height: 1;
        font-size: 20vw;
        letter-spacing: 5vw;
        text-align: center;
        @media(min-width: 1800px) {
            font-size: 450px;
            letter-spacing: 80px;
        }
        &_light {
            color: adjust-color($light-color, $lightness: -5%);
            text-shadow: 0 0 5px $base-color;
        }
    }
    &__btn {
        position: absolute;
        z-index: 5;
        bottom: 13.3%;
        right: 12.2%;  
        text-decoration: none;
        @include media-breakpoint-down(md) {
            right: initial;
            left: 50%;
            max-width: 280px;
            transform: translateX(-50%);
            white-space: nowrap;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            letter-spacing: 0.1em;
        }
    }
    &__image {
        object-fit: cover;
        object-position: 50%;
        position: absolute;
    }
}
//  7.2 ОСНОВНОЙ КОНТЕНТ ================================

.products {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding-top: 40px;
    padding-bottom: 62px;
    margin-top: 62px;
    &__menu {
        display: flex;
        justify-content: center;
        margin-bottom: 47px;
        @media(max-width: 1800px) {
            margin-left: 15px;
        }
        @include media-breakpoint-up(xl) {
            justify-content: flex-start;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 40px;
        }
    }
}

.good { //font-size
    font-size: 1rem;

    position: relative;
    &:hover {
        box-shadow: 0 0 30px hsla(0, 0, 0, .15);
        .good__looks,
        .good__icon,
        .good__desc {
            visibility: visible;
        }
        .good__desc {
            display: flex;
            box-shadow: 0 0 30px hsla(0, 0, 0, .15);
        }
    }
    &__price {
        position: absolute;
        color: $font-color;
        font-size: 21px;
        left: 10px;
        top: 10px;
    }
    &__looks,
    &__desc,
    &__icon {
        position: absolute;
        visibility: hidden;
    }
    &__looks {
        right: 10px;
        top: 10px;
    }
    &__icon {
        font-size: 2rem;
        color: $light-color;
        left: 50%;
        top: 60%;
        transform: translateX(-50%);
        @include media-breakpoint-down(md) {
            visibility: visible;
        }
    }
    &__desc {
        box-sizing: border-box;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        background-color: $light-color;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        display: none;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding: 15px;
        z-index: 2;
    }
    &__title {
        text-transform: uppercase;
        color: $font-dark-color;
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 10px;
    }
    &__text {
        color: adjust-color($font-color, $saturation: 1%, $lightness: -5%); 
        font-size: 15px;
        margin-bottom: 15px;
        font-family: $textFont;
        width: 80%;
    }
}

.price {
    &_type_prev {
        position: relative;
        &::before {
            @include absolute-pseudo(70%, 1px);
            right: 0;
            bottom: 40%;
            background-color: currentColor;
        }
    }
}

.lookbooks {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    @include media-breakpoint-down(lg) {
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.lookbook { // font-size
    font-size: 1rem;

    position: relative;
    max-width: 32%;
    box-sizing: border-box;
    padding: 91px 82px;
    height: 532px;
    background-color: #f8f8f8;
    text-align: right;
        &:first-of-type {
            padding-left: 0;
        }
        &:nth-of-type(2) {
        }
        &:last-of-type {
            padding-right: 0
        }
    @include media-breakpoint-down(lg) {
        max-width: 1200px;
        width: 100%;
        text-align: left;
        padding-bottom: 0;
        & + & {
            margin-top: 20px;
        }
    }
    @include media-breakpoint-down(xs) {
        padding: 40px 25px;
        height: auto;
        &_type_women {
            text-align: right;
        }
    }
    @include media-breakpoint-down(xxs) {
        text-align: initial;
    }
    &__title {
        text-transform: uppercase;
        margin-bottom: 14px;
        font-weight: 400;
        font-size: 3em;
        line-height: 1.15;
        span {
            font-weight: 700;
            display: block;
        }
        @include media-breakpoint-down(xs) {
            font-size: 2em;    
        }
    }
    &__text {
        font-size: 15px;
        font-family: $textFont;
        width: 63%;
        margin-left: auto;
        margin-bottom: 27px;
        @include media-breakpoint-down(lg) {
            margin-left: initial;
        }
        @include media-breakpoint-down(xs) {
            width: 100%;
            margin-left: initial;
        }
    }
    &__btn {
        display: inline-block;
    }
    &__image {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 90%;
        width: 50%;
        img {
            object-fit: contain;
            object-position: 50% 100%;
        }
        @include media-breakpoint-down(lg) {
            left: initial;
            right: 0;
            width: 30%;
            min-width: 235px;
        }
        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
    &__info {
        position: relative;
        z-index: 1;
    }
}

//  7.3 ПОДВАЛ САЙТА ====================================

.footer {
    margin-top: 122px;
    padding-top: 60px;
    background-color: adjust-color($base-color, $lightness: 77%);
    @include media-breakpoint-down(md) {
        margin-top: 50px;
    }
    &-promo {
        display: flex;
        justify-content: space-between;
        margin-top: 55px;    
        margin-bottom: 57px;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
        }
        &__item {
            flex-basis: 49%;
            &_award {
                flex-basis: 46%;
            }
        }
    }
    &__bottom {
        background-color: $base-color;
        padding: 7px 0;
        color: $font-color;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.26px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }
}

.award {
    font-size: 1rem;

    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: $font-light-color;
    background-color: $base-color;
    @include media-breakpoint-down(md) {
        animation: neon-shadow .5s infinite alternate;
    }
    &__title {
        padding: 51px 0;
        margin-bottom: 0;
        line-height: 1.35;
        font-size: 2.25em;
        letter-spacing: 0.04em;
        strong {
            letter-spacing: 0.02em;
        }
        &:hover {
            text-shadow: 0 0 10px;
        }
    }
    strong {
        display: block;
    }
}

.copyright {
    margin: 0;
    @include media-breakpoint-down(sm) {
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

.author {
    display: flex;
    flex-wrap: wrap;
    &__item {
        padding: 5px 0;
        margin-right: 37px;
    }
    &__item:hover {
            color: $font-light-color;
    }
}

//  7.4 ОСТАЛЬНЫЕ СТИЛИ ==================================
