

// КНОПКИ
.btn {
    font-size: .975rem;

    box-sizing: border-box;
    color: #454647;
    font-weight: 500;
    letter-spacing: .22em;
  
    outline: none;
  
    text-transform: uppercase;  
    background-color: transparent;
  
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    padding: 1em  1.8em;
    border: 2px solid $dark-color;
    &:hover {
      color: adjust-color($dark-color, $lightness: 25%);
      border-color: currentColor;
      background-color: adjust-color($light-color, $alpha: -.1);
    }
    &_light {
      color: $light-color;
      border-color: currentColor;
      &:hover {
        color: $font-extra-dark-color;
        border-color: currentColor;
        background-color: adjust-color($light-color, $alpha: -.5);
      }
    }

    @media(min-width: 992px) {
      transition: .2s;
    }
  }
// 1. ЦВЕТА КНОПОК

// 1.1 Цвета основных кнопок
