$distance: 60;
$invert-distance: $distance * -1;

// the main colors
$base-color: hsl(0, 0, 20%);
$dark-color: adjust-color($base-color, $hue: 340, $saturation: 4%, $lightness: 13%); 
$info-color: adjust-color($base-color, $hue: 180, $saturation: 100%, $lightness: 19%);
$warn-color: adjust-color($base-color, $hue: -87, $saturation: -17%, $lightness: -18%);
$succes-color: adjust-color($base-color, $hue: -40, $saturation: -5%, $lightness: -15%);
$light-color: #fff;

$button-color: adjust-color($base-color, $hue: 210, $saturation: 1%, $lightness: 7%);

// font-color
$font-color: hsl(0, 0, 60%);
$font-dark-color: adjust-color($font-color, $lightness: -15%); //#727272
$font-extra-dark-color: adjust-color($font-color, $lightness: -51%);
$font-light-color: #fff;

// font-shadow-color

// link-color

// buttons-color

//icon-color (for svg)

// round-border

// row-color

// gradient

/* 
Example:
   @alert-primary-bg: lighten(@base-color, 35%);
   @alert-primary-border: darken(spin(@alert-primary-bg, -10), 5%);
   @alert-primary-text: darken(@alert-primary-bg, 50%); */